#navbar{
    display:flex;
    justify-content: space-around;
    font-size: 50px;
    background-color: rgb(30, 30, 222);
    margin-bottom: 50px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
#products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap:20px;
    padding-bottom: 10px;
}
